.box {
  width: 200px;
  height: 200px;
  border: 5px solid #000;
  border-radius: 5px;
  text-align: center;
  line-height: 200px;
}

.orange {
  background-color: orange;
}

.skyblue {
  background-color: skyblue;
}

#first_button{
  width: 100px;
  height: 40px;
}

#second_button{
  width: 100px;
  height: 40px;
}