body{
  background-image: url('https://na.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/environmentart-sru-04_1920_1.jpg?itok=4T0oDnTb&_gl=1*21r9f4*_ga*MTU5Njk2MjM3LjE2NTYwOTQxMTk.*_ga_FXBJE5DEDD*MTY1NjA5NDExOS4xLjAuMTY1NjA5NDExOS42MA..&_ga=2.231544351.1038898712.1656094119-159696237.1656094119');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.container{
  display: flex;
  width: inherit;
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 100px;
  margin-bottom: 15px;
  padding: 20px 40px;
  border-bottom: 3px double gray;
  justify-content: center;
  background-image: url('https://w.namu.la/s/3f9849c1cc3f20e6319e09a57c0199d7c3e935a92918332b167e8ea05a52c986e0ddd9de092ea20cb101c6c282d32a4723b64630f848251963de03c62bfefce5c6ffa6e63fbae2bd83375094a6892241dd7ee4d170721dc7997a8ec00f3f4465471e8d621a7f081e8f67afed61b43f82');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

}
.ready{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 70px;
  padding: 20px 40px;
  margin-top: 15px;
  justify-content: center;
  background-image: url('img/ready.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;

}

.ready:active{
  transition: all 0.5s;
  transform: scale(1.2);
  opacity: 1;
}

.champions{
  display: flex;
  flex-wrap: wrap;
  max-width: 790px;
  height: 62.2vh;
  padding: 20px 40px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

.champions::-webkit-scrollbar {
  width: 8px;
}

.champions::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.champions::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.champion{
  width: 84px;
  height: 104px;
  margin: 9.3px 15.3px;
  text-align: center;
  cursor: pointer;

}
.portrait{
  width: inherit;
  height: 80px;
  box-sizing: border-box;
  margin-bottom: 4px;
  background-image: url('img/Ahri_Square_0.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid gray;

}
.name{
  width: inherit;
  height: 20px;
  color: #fff;
  box-sizing: border-box;
  font-size: 12px;
}

.portrait:hover{
transform: scale(1.3);
transition: all 0.5s;
border: 2px solid #dba150;
}

.portrait:active{
  transform: perspective(100px) scale(1.5) rotateY(180deg);
  transition: all 1000ms;
  transition-timing-function: ease;
  border: 2px solid #dba150;
  border-radius: 50%;
  box-shadow: 0 30px 30px rgb(231, 255, 186);
}

/* DO NOT TOUCH - portrait of cp start*/

.champions *:nth-child(1) > .portrait{
  background-image: url('./champions/random.png');
}
.champions *:nth-child(2) > .portrait{
  background-image: url('./champions/GarenSquare.webp');
}
.champions *:nth-child(3) > .portrait{
  background-image: url('./champions/GalioSquare.webp');
}
.champions *:nth-child(4) > .portrait{
  background-image: url('./champions/GangplankSquare.webp');
}
.champions *:nth-child(5) > .portrait{
  background-image: url('./champions/GragasSquare.webp');
}
.champions *:nth-child(6) > .portrait{
  background-image: url('./champions/GravesSquare.webp');
}
.champions *:nth-child(7) > .portrait{
  background-image: url('./champions/GwenSquare.webp');
}
.champions *:nth-child(8) > .portrait{
  background-image: url('./champions/GnarSquare.webp');
}
.champions *:nth-child(9) > .portrait{
  background-image: url('./champions/NamiSquare.webp');
}
.champions *:nth-child(10) > .portrait{
  background-image: url('./champions/NasusSquare.webp');
}
.champions *:nth-child(11) > .portrait{
  background-image: url('./champions/NautilusSquare.webp');
}
.champions *:nth-child(12) > .portrait{
  background-image: url('./champions/Nocturne_Square_0.png');
}
.champions *:nth-child(13) > .portrait{
  background-image: url('./champions/Nunu_WillumpSquare.webp');
}
.champions *:nth-child(14) > .portrait{
  background-image: url('./champions/NidaleeSquare.webp');
}
.champions *:nth-child(15) > .portrait{
  background-image: url('./champions/NeekoSquare.webp');
}
.champions *:nth-child(16) > .portrait{
  background-image: url('./champions/DariusSquare.webp');
}
.champions *:nth-child(17) > .portrait{
  background-image: url('./champions/DianaSquare.webp');
}
.champions *:nth-child(18) > .portrait{
  background-image: url('./champions/Draven_Square_0.png');
}
.champions *:nth-child(19) > .portrait{
  background-image: url('./champions/RyzeSquare.webp');
}
.champions *:nth-child(20) > .portrait{
  background-image: url('./champions/RakanSquare.webp');
}
.champions *:nth-child(21) > .portrait{
  background-image: url('./champions/RammusSquare.webp');
}
.champions *:nth-child(22) > .portrait{
  background-image: url('./champions/LuxSquare.webp');
}
.champions *:nth-child(23) > .portrait{
  background-image: url('./champions/RumbleSquare.webp');
}
.champions *:nth-child(24) > .portrait{
  background-image: url('./champions/Renata_GlascSquare.webp');
}
.champions *:nth-child(25) > .portrait{
  background-image: url('./champions/RenektonSquare.webp');
}
.champions *:nth-child(26) > .portrait{
  background-image: url('./champions/LeonaSquare.webp');
}
.champions *:nth-child(27) > .portrait{
  background-image: url('./champions/RekSaiSquare.webp');
}
.champions *:nth-child(28) > .portrait{
  background-image: url('./champions/Rell.png');
}
.champions *:nth-child(29) > .portrait{
  background-image: url('./champions/RengarSquare_Unreleased.webp');
}
.champions *:nth-child(30) > .portrait{
  background-image: url('./champions/Lucian_Square_0.png');
}
.champions *:nth-child(31) > .portrait{
  background-image: url('./img/Aatrox_Square_0.png');
}
.champions *:nth-child(32) > .portrait{
  background-image: url('./img/Ahri_Square_0.png');
}
.champions *:nth-child(33) > .portrait{
  background-image: url('./img/Akali_Square_0.png');
}
.champions *:nth-child(34) > .portrait{
  background-image: url('./img/Alistar_Square_0.png');
}
.champions *:nth-child(35) > .portrait{
  background-image: url('./img/Amumu_Square_0.png');
}
.champions *:nth-child(36) > .portrait{
  background-image: url('./img/Anivia_Square_0.png');
}
.champions *:nth-child(37) > .portrait{
  background-image: url('./img/Annie_Square_0.png');
}
.champions *:nth-child(38) > .portrait{
  background-image: url('./img/Ashe_Square_0.png');
}
.champions *:nth-child(39) > .portrait{
  background-image: url('./img/AurelionSol_Square_0.png');
}
.champions *:nth-child(40) > .portrait{
  background-image: url('./img/Azir_Square_0.png');
}
.champions *:nth-child(41) > .portrait{
  background-image: url('./img/Bard_Square_0.png');
}
.champions *:nth-child(42) > .portrait{
  background-image: url('./img/Blitzcrank_Square_0.png');
}
.champions *:nth-child(43) > .portrait{
  background-image: url('./img/Brand_Square_0.png');
}
.champions *:nth-child(44) > .portrait{
  background-image: url('./img/Braum_Square_0.png');
}
.champions *:nth-child(45) > .portrait{
  background-image: url('./img/Caitlyn_Square_0.png');
}
.champions *:nth-child(46) > .portrait{
  background-image: url('./img/Cassiopeia_Square_0.png');
}
.champions *:nth-child(47) > .portrait{
  background-image: url('./img/Chogath_Square_0.png');
}
.champions *:nth-child(48) > .portrait{
  background-image: url('./img/Corki_Square_0.png');
}
.champions *:nth-child(49) > .portrait{
  background-image: url('./img/DrMundo_Square_0.png');
}
.champions *:nth-child(50) > .portrait{
  background-image: url('./img/Ekko_Square_0.png');
}
.champions *:nth-child(51) > .portrait{
  background-image: url('./img/Elise_Square_0.png');
}
.champions *:nth-child(52) > .portrait{
  background-image: url('./img/Evelynn_Square_0.png');
}
.champions *:nth-child(53) > .portrait{
  background-image: url('./img/Ezreal_Square_0.png');
}
.champions *:nth-child(54) > .portrait{
  background-image: url('./img/Fiddlesticks_Square_0.png');
}
.champions *:nth-child(55) > .portrait{
  background-image: url('./img/Fiora_Square_0.png');
}
.champions *:nth-child(56) > .portrait{
  background-image: url('./img/Fizz_square_0.png');
}
.champions *:nth-child(57) > .portrait{
  background-image: url('./img/Hecarim_Square_0.png');
}
.champions *:nth-child(58) > .portrait{
  background-image: url('./img/Heimerdinger_Square_0.png');
}
.champions *:nth-child(59) > .portrait{
  background-image: url('./img/Irelia_Square_0.png');
}
.champions *:nth-child(60) > .portrait{
  background-image: url('./img/Janna_Square_0.png');
}

/* 암 걸릴 것 같으니 다음부턴 SASS로 FOR문 돌리기... */

